node-red/node-red-project.json
[{"id":"f454e9e1.9987e8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2104d2cf.98667e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"dfbe2e9b.f2e42","type":"mqtt-broker","name":"","broker":"mosquitto","port":"1884","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"6cc82d9a.7bc7d4","type":"mongodb","hostname":"mongodb","topology":"direct","connectOptions":"","port":"27017","db":"arduino","name":""},{"id":"d470008c.1e007","type":"ui_tab","name":"Dados dos Sensores","icon":"dashboard","disabled":false,"hidden":true},{"id":"7243e85a.1e9838","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c08896f4.b9edf8","type":"ui_group","name":"","tab":"d470008c.1e007","order":1,"disp":true,"width":"6","collapse":false},{"id":"e6f68084.317d9","type":"mqtt in","z":"f454e9e1.9987e8","name":"","topic":"devices/amega2560/messages/events/","qos":"0","datatype":"auto","broker":"dfbe2e9b.f2e42","nl":false,"rap":true,"rh":0,"x":190,"y":140,"wires":[["2e1d32f5.46058e","199061aa.dee01e"]]},{"id":"3b1a2bdd.c7e6a4","type":"debug","z":"f454e9e1.9987e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":140,"wires":[]},{"id":"2e1d32f5.46058e","type":"function","z":"f454e9e1.9987e8","name":"JSON.parse","func":"msg.payload = JSON.parse(msg.payload)\nmsg.payload.timestamp = new Date()\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["3b1a2bdd.c7e6a4","e4b6fd1b.adb28","14fdd556.c7a20b"]]},{"id":"36f8e227.be28ce","type":"mqtt out","z":"f454e9e1.9987e8","name":"","topic":"devices/amega2560/messages/devicebound/","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"dfbe2e9b.f2e42","x":870,"y":280,"wires":[]},{"id":"e4b6fd1b.adb28","type":"function","z":"f454e9e1.9987e8","name":"exibir_dados","func":"var temperatura_ambiente = {payload:msg.payload.temperatura_ambiente};\nvar umidade_ambiente = {payload:msg.payload.umidade_ambiente};\nvar valor_sensor_umidade_solo = {payload:msg.payload.valor_sensor_umidade_solo};\nvar status_umidade_solo = {payload:msg.payload.status_umidade_solo};\nvar string_status_umidade_solo = \"\";\n\nif (status_umidade_solo.payload == \"0\")\n    status_umidade_solo.payload = \"muito seco\";\nelse if (status_umidade_solo.payload == \"1\")\n    status_umidade_solo.payload = \"muito úmido\";\nelse if (status_umidade_solo.payload == \"2\")\n    status_umidade_solo.payload = \"seco\";\nelse if (status_umidade_solo.payload == \"3\")\n    status_umidade_solo.payload = \"umidade moderada\";\nelse if (status_umidade_solo.payload == \"4\")\n    status_umidade_solo.payload = \"úmido\";\n// switch(status_umidade_solo) {\n//   case 0:\n//     string_status_umidade_solo = \"muito seco\"\n//     break;\n//   case 1:\n//     string_status_umidade_solo = \"muito úmido\"\n//     break;\n//   case 2:\n//     string_status_umidade_solo = \"seco\"\n//     break;\n//   case 3:\n//     string_status_umidade_solo = \"umidade moderada\"\n//     break;\n//   case 4:\n//     string_status_umidade_solo = \"úmido\"\n//     break;\n//   default:\n//     node.warn(\"Erro na conversão do status do solo\");\n// }\n// node.warn(JSON.stringify(msg.payload));\n// node.warn(status_umidade_solo)\n\nreturn [temperatura_ambiente, umidade_ambiente, valor_sensor_umidade_solo, status_umidade_solo];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":60,"wires":[["c0334c78.e88d3"],["1a52a6bc.bcd5a9"],["6d9697f.2509e68"],["cb0925cc.c79da8"]]},{"id":"14fdd556.c7a20b","type":"mongodb out","z":"f454e9e1.9987e8","mongodb":"6cc82d9a.7bc7d4","name":"Gravar Dados Telemetria","collection":"telemetria","payonly":true,"upsert":false,"multi":false,"operation":"store","x":670,"y":220,"wires":[]},{"id":"c0334c78.e88d3","type":"ui_gauge","z":"f454e9e1.9987e8","name":"","group":"c08896f4.b9edf8","order":0,"width":0,"height":0,"gtype":"donut","title":"Temperatura Ambiente","label":"ºC","format":"{{value}}","min":0,"max":"50","colors":["#ffee00","#2bff00","#ca3838"],"seg1":"","seg2":"","x":900,"y":40,"wires":[]},{"id":"1a52a6bc.bcd5a9","type":"ui_gauge","z":"f454e9e1.9987e8","name":"","group":"c08896f4.b9edf8","order":1,"width":0,"height":0,"gtype":"donut","title":"Umidade Ambiente","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#da1010","#e6e600","#00fa1d"],"seg1":"","seg2":"","x":890,"y":80,"wires":[]},{"id":"6d9697f.2509e68","type":"ui_gauge","z":"f454e9e1.9987e8","name":"","group":"c08896f4.b9edf8","order":2,"width":0,"height":0,"gtype":"gage","title":"Valor Analogico Sensor Solo ","label":"","format":"{{value}}","min":0,"max":"630","colors":["#e70808","#e6e600","#05e113"],"seg1":"","seg2":"","x":920,"y":120,"wires":[]},{"id":"cb0925cc.c79da8","type":"ui_text","z":"f454e9e1.9987e8","group":"c08896f4.b9edf8","order":3,"width":0,"height":0,"name":"","label":"Status Solo","format":"{{msg.payload}}","layout":"row-center","x":870,"y":160,"wires":[]},{"id":"31e9c5b.686a03a","type":"http request","z":"f454e9e1.9987e8","name":"Request Agente Inteligente","method":"GET","ret":"txt","paytoqs":"query","url":"http://web:8000/agente_inteligente","tls":"","persist":false,"proxy":"","authType":"","x":600,"y":360,"wires":[["cbbccb59.840238","98e288c6.3ff448"]]},{"id":"5f97d04a.d905d","type":"debug","z":"f454e9e1.9987e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":420,"wires":[]},{"id":"cbbccb59.840238","type":"function","z":"f454e9e1.9987e8","name":"ligar_bomba","func":"var bomba = msg.payload\nif (bomba == \"['LIGAR']\")\n    return msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":360,"wires":[["5f97d04a.d905d","36f8e227.be28ce"]]},{"id":"98e288c6.3ff448","type":"debug","z":"f454e9e1.9987e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":420,"wires":[]},{"id":"55521143.f3517","type":"inject","z":"f454e9e1.9987e8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 12 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":110,"y":220,"wires":[["65c954ce.4e9acc"]]},{"id":"b934583c.6c7ab8","type":"mongodb in","z":"f454e9e1.9987e8","mongodb":"6cc82d9a.7bc7d4","name":"Consultar Dados Telemetria ","collection":"telemetria","operation":"find","x":220,"y":340,"wires":[["fa3756fd.629bd8","d2b1d15d.f72ac"]]},{"id":"fa3756fd.629bd8","type":"function","z":"f454e9e1.9987e8","name":"Preparar Requisição","func":"msg.payload = msg.payload[0]\ndelete msg.payload._id\ndelete msg.payload.valor_sensor_umidade_solo\ndelete msg.payload.timestamp\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":400,"wires":[["31e9c5b.686a03a","5d822c26.d97124"]]},{"id":"65c954ce.4e9acc","type":"function","z":"f454e9e1.9987e8","name":"Query MongoDB","func":"msg.payload = {};// query;\n\nmsg.limit = 1;\n\nmsg.sort = {'timestamp': -1};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":170,"y":280,"wires":[["b934583c.6c7ab8"]]},{"id":"5d822c26.d97124","type":"debug","z":"f454e9e1.9987e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":460,"wires":[]},{"id":"d2b1d15d.f72ac","type":"debug","z":"f454e9e1.9987e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":300,"wires":[]},{"id":"199061aa.dee01e","type":"debug","z":"f454e9e1.9987e8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":200,"wires":[]}]